Instructions: By continuing the previous model based on the micro video lecture posted(Refer to DS Chapter 6 CARD and C50 Code review). Construct a C5.0 model using the test data set that utilizes the same target variable, predictor variables, and minimum cases criterion. Visualize the decision tree.

In [5]:
import os
import graphviz
import pandas as pd
import numpy as np
import statsmodels.tools.tools as stattools
from sklearn.tree import DecisionTreeClassifier, export_graphviz

adult_test = pd.read_csv("adult_ch6_test")
adult_tr = pd.read_csv("adult_ch6_training")

      Marital status Income  Cap_Gains_Losses
0      Never-married  <=50K           0.02174
1           Divorced  <=50K           0.00000
2            Married  <=50K           0.00000
3            Married  <=50K           0.00000
4            Married  <=50K           0.00000
...              ...    ...               ...
18756       Divorced  <=50K           0.00000
18757        Married  <=50K           0.00000
18758        Married  <=50K           0.00000
18759       Divorced  <=50K           0.00000
18760        Married  <=50K           0.00000

[18761 rows x 3 columns]

In [ ]:
# save target variable  
y = adult_test[['Income']]

In [ ]:
# convert categorical variable to dummy variables  
mar_np = np.array(adult_test[_____])  
(mar_cat, mar_cat_dict) = _____.categorical(mar_np, drop=_____, dictnames=_____)

In [ ]:
# combine the dummy variables back with the   
mar_cat_pd = pd.DataFrame(mar_cat)  
X = pd.concat((adult_test[['Cap_Gains_Losses']], mar_cat_pd), axis = 1)

In [ ]:
# specify names of combined matrix and the target variable  
X_names = ["Cap_Gains_Losses", "Divorced", "Married", "Never-married", "Separated", "Widowed"]  
y_names = ["<=50K", ">50K"]

In [ ]:
# train C5.0 model  
c50_01 = _____(criterion="_____", min_samples_split=75, max_leaf_nodes=5).fit(_____,_____)

In [ ]:
# obtain tree structure with labeles   
data = export_graphviz(_____, out_file=None, feature_names=_____, class_names=_____)

In [ ]:
# display the plot  
graphviz.Source(data)

Use random forests on the training data set to predict income using marital status and capital gains and losses.

In [ ]:
# import required packages  
from sklearn.ensemble import RandomForestClassifier  
import numpy as np

In [ ]:
# save target variable  
y = adult_tr[_____]

In [ ]:
# convert categorical variable to dummy variables  
mar_np = np.array(a_____['_____'])  
(mar_cat, mar_cat_dict) = stattools._____(mar_np, drop=_____, dictnames=_____)

In [ ]:
# combine the dummy variables back with the   
mar_cat_pd = pd.DataFrame(_____)  
X = pd.concat((adult_tr[['Cap_Gains_Losses']], _____), axis = 1)

In [ ]:
# format for random forest model  
rfy = np.ravel(y)

In [ ]:
# train random forest model  
rf01 = _____(n_estimators = 100, criterion="_____").fit(X,rfy)

In [ ]:
# return predictions  
rf_train = rf01.predict(X)

Use random forests using the test data set that utilizes the same target and predictor variables. Does the test data result match the training data result?

In [ ]:
# save target variable  
y = adult_test[_____]

In [ ]:
# convert categorical variable to dummy variables  
mar_np = np.array(adult_test['Marital status'])  
(_____, _____) = _____._____(mar_np, drop=True, dictnames=True)

In [ ]:
# combine the dummy variables back with the   
mar_cat_pd = pd.DataFrame(mar_cat)  
X = pd.concat((adult_test[['_____']], mar_cat_pd), axis = _____)

In [ ]:
# format for random forest model  
rfy = np.ravel(_____)

In [ ]:
# train random forest model  
rf01 = _____(n_estimators = 100, criterion=_____).fit(X,rfy)

In [ ]:
# return predictions  
rf_test = rf01.p_____(X)

In [ ]:
#this should have an output
rf_train = pd.DataFrame(_____)  
rf_train[0].value_counts() / len(_____)

In [ ]:
#this should have an output
rf_test = pd.DataFrame(_____)  
rf_test[0].value_counts() / len(_____)

Based on the output, both models should classify the data as 93% for <=50K and 7% for >=50K