CART

In [2]:
import pandas as pd
import graphviz
from sklearn.tree import DecisionTreeClassifier, export_graphviz
adult_tr = pd.read_csv("adult_ch6_training.csv")
adult_test = pd.read_csv("adult_ch6_test.csv")

In [3]:
adult_tr

      Marital status Income  Cap_Gains_Losses
0      Never-married  <=50K           0.02174
1           Divorced  <=50K           0.00000
2            Married  <=50K           0.00000
3            Married  <=50K           0.00000
4            Married  <=50K           0.00000
...              ...    ...               ...
18756       Divorced  <=50K           0.00000
18757        Married  <=50K           0.00000
18758        Married  <=50K           0.00000
18759       Divorced  <=50K           0.00000
18760        Married  <=50K           0.00000

[18761 rows x 3 columns]

In [4]:
#Assign the target variable 'Income' as 'y'
y = adult_tr[['Income']]

In [5]:
y

      Income
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
...      ...
18756  <=50K
18757  <=50K
18758  <=50K
18759  <=50K
18760  <=50K

[18761 rows x 1 columns]

In [6]:
#Create a matrix of dummy variables for each value of 'Marital status'
mar_cat = pd.get_dummies(adult_tr['Marital status'])

In [7]:
mar_cat

       Divorced  Married  Never-married  Separated  Widowed
0         False    False           True      False    False
1          True    False          False      False    False
2         False     True          False      False    False
3         False     True          False      False    False
4         False     True          False      False    False
...         ...      ...            ...        ...      ...
18756      True    False          False      False    False
18757     False     True          False      False    False
18758     False     True          False      False    False
18759      True    False          False      False    False
18760     False     True          False      False    False

[18761 rows x 5 columns]

In [8]:
#Concatenate the predictor variable 'Cap_Gains_Losses' to the data frame of dummy variables that represent marital status. Assign it to variable 'X'
mar_cat_pd = pd.DataFrame(mar_cat)
X = pd.concat((adult_tr[['Cap_Gains_Losses']], mar_cat_pd), axis = 1)

In [9]:
X

       Cap_Gains_Losses  Divorced  Married  Never-married  Separated  Widowed
0               0.02174     False    False           True      False    False
1               0.00000      True    False          False      False    False
2               0.00000     False     True          False      False    False
3               0.00000     False     True          False      False    False
4               0.00000     False     True          False      False    False
...                 ...       ...      ...            ...        ...      ...
18756           0.00000      True    False          False      False    False
18757           0.00000     False     True          False      False    False
18758           0.00000     False     True          False      False    False
18759           0.00000      True    False          False      False    False
18760           0.00000     False     True          False      False    False

[18761 rows x 6 columns]

In [10]:
#Assign feature names to 'X_names' and target class names to 'y_names'
X_names = ["Cap_Gains_Losses", "Divorced", "Married", "Never-married", "Separated", "Widowed"]
y_names = ["<=50K", ">50K"]

In [11]:
#Create CART
cart01 = DecisionTreeClassifier(criterion = "gini", max_leaf_nodes= 5).fit(X,y)

In [12]:
#Export decision tree
data = export_graphviz(cart01, out_file=None, feature_names=X_names, class_names=y_names)
#graphviz.Source(data)  #does not work for some reason

In [13]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1) # 70% training and 30% test

In [14]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [15]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8301652158465092

In [16]:
y = adult_test[['Income']]

In [17]:
mar_cat = pd.get_dummies(adult_test['Marital status'])

In [18]:
mar_cat_pd = pd.DataFrame(mar_cat)
X = pd.concat((adult_test[['Cap_Gains_Losses']], mar_cat_pd), axis = 1)

In [19]:
X_names = ["Cap_Gains_Losses", "Divorced", "Married", "Never-married", "Separated", "Widowed"]
y_names = ["<=50K", ">50K"]

In [20]:
cart01 = DecisionTreeClassifier(criterion = "gini", max_leaf_nodes=5).fit(X,y)

In [21]:
data = export_graphviz(cart01, out_file="cart01-2.dot", feature_names=X_names, class_names=y_names)
#graphviz.Source(data) #does not work for some reason

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1) # 70% training and 30% test

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8170005414185165

C5.0

In [23]:
y = adult_tr[['Income']]
mar_cat = pd.get_dummies(adult_tr['Marital status'])

In [24]:
mar_cat_pd = pd.DataFrame(mar_cat)
X = pd.concat((adult_tr[['Cap_Gains_Losses']], mar_cat_pd), axis = 1)
X

       Cap_Gains_Losses  Divorced  Married  Never-married  Separated  Widowed
0               0.02174     False    False           True      False    False
1               0.00000      True    False          False      False    False
2               0.00000     False     True          False      False    False
3               0.00000     False     True          False      False    False
4               0.00000     False     True          False      False    False
...                 ...       ...      ...            ...        ...      ...
18756           0.00000      True    False          False      False    False
18757           0.00000     False     True          False      False    False
18758           0.00000     False     True          False      False    False
18759           0.00000      True    False          False      False    False
18760           0.00000     False     True          False      False    False

[18761 rows x 6 columns]

In [25]:
X_names = ["Cap_Gains_Losses", "Divorced", "Married", "Never-married", "Separated", "Widowed"]
y_names = ["<=50K", ">50K"]

In [26]:
c50_01 = DecisionTreeClassifier(criterion = 'entropy').fit(X,y)

In [27]:
data = export_graphviz(c50_01, out_file="cart50_1.dot", feature_names=X_names, class_names=y_names)
#graphviz.Source(data) #does not work for some reason

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1) # 70% training and 30% test

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8301652158465092